{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ survey }} - {{ block.super }}{% endblock %}

{% block content %}
<h1>{{ survey }}</h1>

<form method="post" action=".">{% csrf_token %}

{{ form.errors }}

<table>
    <thead>
        <tr>
            <th>{% trans "question"|capfirst %}</th>
            <td>{% trans "importance"|capfirst %}</td>
            <td>{% trans "answer"|capfirst %}</td>
        </tr>
    </thead>
    <tbody>
    {% for question, line in form.survey_fields %}
        {% ifchanged question.group %}
        <tr>
            <th colspan="3"><h2>{{ question.group.title }}</h2></th>
        </tr>
        {% endifchanged %}
        <tr>
            <th>{{ line.answer.label_tag }}</th>
            {% if "importance" in line %}
                <td>{{ line.importance }}</td>
                <td>{{ line.answer }}</td>
            {% else %}
                <td colspan="2">{{ line.answer }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if not is_first_page %}<input type="submit" name="prev" value="{% trans "go back" %}" />{% endif %}
{% if is_last_page %}<input type="submit" name="finish" value="{% trans "Save" %}" />
{% else %}<input type="submit" name="next" value="{% trans "continue" %}" />
{% endif %}

</form>
{% endblock %}
