{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ survey }} - {{ block.super }}{% endblock %}

{% block content %}
<h1>{{ survey }}</h1>

<form method="post" action=".">{% csrf_token %}


{{ form.errors }}

<table>
    <thead>
        <tr>
            <th>{% trans "question"|capfirst %}</th>
            <td>{% trans "importance"|capfirst %}</td>
            <td>{% trans "answer"|capfirst %}</td>
        </tr>
    </thead>
    <tbody>
    {% for line in form.survey_fields %}
        <tr>
            <th>{{ line.answer.label_tag }}</th>
            {% if "importance" in line %}
                <td>{{ line.importance }}</td>
                <td>{{ line.answer }}</td>
            {% else %}
                <td colspan="2">{{ line.answer }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

<input type="submit" value="{% trans "submit" %}" />
</form>

<style type="text/css">
form table { border-collapse: collapse; }
form td>ul { list-style: none; margin: 0; padding: 0; }
form td>ul li { margin: 0; padding: 0; float: left; }
form tbody th { text-align: left; }
form tbody td { white-space: nowrap; min-width: 130px; }
form tbody tr:nth-child(2n) { background: #f8f8f8; }
</style>
{% endblock %}
